/* Шрифты */
@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprum.woff2);
  src: url(../fonts/cuprum.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbold.woff2);
  src: url(../fonts/cuprumbold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumitalic.woff2);
  src: url(../fonts/cuprumitalic.woff);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Cuprum";
  src: url(../fonts/cuprumbolditalic.woff2);
  src: url(../fonts/cuprumbolditalic.woff);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2);
  src: url(../fonts/ptsans.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2);
  src: url(../fonts/ptsansbold.woff);
  font-weight: 700;
  font-style: normal;
}

/* Цвета */
:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #32425c;
  --dark-blue: #293449;
  --darkest-blue: #212a3a;
  --special-dark-blue: #1d2739;
  --special-darkest-blue: #161d29;
  --light-blue: #3d546f;
  --sky: #f1f5f7;
  --red: #ee3643;
  --medium-red: #ca2c37;
  --dark-red: #ba2732;
  --gold: #ffd180;
  --green: #63a63e;
  --pale-green: #518534;
  --bright-green: #5fbb2d;
  --dark-green: #367315;
  --gray: #c5c5c5;
  --dark-gray: #b5b5b5;
  --light-gray: #e5e5e5;
  --special-gray: #a9a9a9;
  --special-light-gray: #eaeaea;
  --beige: #f7f3ec;
  --yellow: #ffbf47;
  --special-yellow: #ffc047;
  --special-blue: #3bbce3;
  --lilac: #dc91d8;
  --special-green: #8ed78f;
  --special-dark: #405069;
  --transparent: rgba(255, 255, 255, 0.5);
  --transparent30: rgba(255, 255, 255, 0.3);
  --logo-shadow: rgba(0, 0, 0, 0.24);
  --brand-shadow: rgba(0, 0, 0, 0.15);
  --transparent-dark: rgba(0, 0, 0, 0.25);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --transparent-gray: rgba(197, 197, 197, 0.3);
  --transparent-special-gray: rgba(169, 169, 169, 0.3);
}

/* global */
.page {
  height: 100%;
}
.page-body {
  font-family: "Cuprum", "Verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);

  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--blue);
}
.button {
  background-color: var(--red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  border: none;
}
.social ul,
.footer-nav ul,
.services ul,
.main-nav ul,
.goods ul,
.hits-list,
.brands ul,
.products ul,
.bread-crumbs,
.links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.text {
  color: var(--black);
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* header */
.header-top {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-blue);
}
.header-top a {
  color: var(--white);
}
.header-logo {
  padding: 12px 56px;
  height: 18px;
  background-color: var(--red);
  box-shadow: 0px 5px 0px var(--dark-red);
}
.header-logo:focus {
  background-color: var(--dark-red);
}
.search {
  padding: 0;
  flex-grow: 1;
}
.search-input {
  background-color: transparent;
  color: var(--white);
  border: none;
  padding-left: 42px;
  width: 100%;
  height: 42px;
}
.search-input::placeholder {
  color: var(--white);
}
.search-input:focus {
  background-color: var(--white);
  color: var(--black);
  outline: none;
}
.button-favorite,
.button-cart,
.button-order {
  height: 42px;
  box-sizing: border-box;
  padding-top: 9px;
}
.button-favorite {
  padding-right: 35px;
  padding-left: 43px;
}
.button-cart {
  padding-right: 35px;
  padding-left: 21px;
}
.button-order {
  background-color: var(--green);
  padding-left: 19px;
  padding-right: 16px;
}
.button-favorite:focus,
.button-cart:focus {
  color: var(--transparent);
  background-color: var(--special-darkest-blue);
}
.button-order:hover {
  background-color: var(--bright-green);
}
.button-order:focus {
  color: var(--transparent);
  background-color: var(--green);
}
.header-bottom {
  background-color: var(--sky);
  padding-bottom: 60px;
}
.header-about-text {
  color: var(--red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}
.header-contacts .tel {
  color: var(--red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}
.header-contacts-text {
  color: var(--blue);
  font-size: 14px;
  line-height: 24px;
}
.account .button {
  background-color: var(--white);
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}
.account .button:focus {
  color: var(--gray);
}
.acc-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--blue);
}
.acc-link:hover {
  color: var(--red);
}
.acc-link:focus {
  color: var(--gray);
}
.main-nav {
  background-color: var(--blue);
  box-shadow: 0 5px 0 var(--dark-blue);;
}
.main-nav a {
  color: var(--white);
}
.main-nav a:hover {
  background-color: var(--dark-blue);
}
.main-nav a:focus {
  background-color: var(--special-dark-blue);
  color: var(--transparent);
}

/* Товары и услуги */
.goods {
  margin-top: 60px;
  margin-bottom: 60px;
}
.goods-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 14px;
}
.goods-item {
  padding-left: 22px;
  padding-top: 20px;
  padding-bottom: 21px;
}
.goods-item .button {
  background-color: var(--transparent30);
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
}
.goods-list .button:hover {
  background-color: var(--transparent-gray);
}
.goods-list .button:focus {
  background-color: var(--transparent-special-gray);
}
.materials {
  background-color: var(--yellow);
}
.tools {
  background-color: var(--special-blue);
}
.machines {
  background-color: var(--lilac);
}
.sale {
  background-color: var(--special-green);
}
.delivery {
  background-color: var(--special-yellow);
}

/* слайдер */
.slider {
  background-color: var(--transparent-gray);
  color: var(--white);
}
.slider .heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 20px;
}

/* Популярные товары */
.hits-header {
  background-color: var(--beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hits-header .heading {
  margin-left: 28px;
}
.hits-header .button {
  display: flex;
  justify-content: center;
  padding-top: 11px;
  min-width: 192px;
  min-height: 38px;
  margin-right: 19px;
  box-sizing: border-box;
}
.product {
  border: 1px solid var(--special-light-gray);
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: 700;
}
.product-img {
  background-color: var(--transparent-gray);
}
.product-title {
  font-size: 18px;
  line-height: 20px;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--special-gray);
}
.price-tag {
  background-image: url(../img/price-tag.svg);
  background-repeat: no-repeat;
  color: var(--white);
}
.product .button {
  font-family: "Cuprum", "Verdana", sans-serif;
}
.button-buy {
  background: var(--green);
  box-shadow: inset 0px -3px 0px var(--dark-green);
  border-radius: 2px;
}
.button-buy:hover {
  background-color: var(--bright-green);
}
.button-buy:focus {
  background-color: var(--pale-green);
}
.button-to-fav {
  border: 3px solid var(--green);
  border-radius: 2px;
  background-color: var(--white);
  color: var(--blue);
}
.button-to-fav:hover {
  border-color: var(--blue);
}
.button-to-fav:focus {
  border-color: var(--blue);
  opacity: 0.5;
}

/* Популярные производители */
.brands-header {
  background-color: var(--beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brands-header .heading {
  margin-left: 28px;
}
.brands-header .button {
  display: flex;
  justify-content: center;
  padding-top: 11px;
  min-width: 192px;
  min-height: 38px;
  margin-right: 19px;
  box-sizing: border-box;
}
.brand-link:hover {
  filter: drop-shadow(0px 4px 20px var(--brand-shadow));
}
.brand-link:focus {
  filter: drop-shadow(0px 4px 20px var(--brand-shadow));
  opacity: 0.5;
}

/* Сервисы */
.services {
  background-color: var(--sky);
}
.services-heading {
  color: var(--black);
  margin: 64px 0 25px;
}
.services-text {
  padding: 0;
  margin: 0;
}
.services input {
  display: none;
}
.service-switch label {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--special-dark);
}
.service-switch label:hover {
  background-color: var(--dark-blue);
}
.service-switch input:checked + label{
  color: var(--blue);
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
}
.services-item {
  background: none;
}

/* О нас и контакты */
.main-column .heading {
  color: var(--black);
}
.main-about ul {
  list-style-image: url(../img/list-marker.svg);
  font-size: 18px;
  line-height: 24px;
}
.main-contacts img {
  background-color: var(--beige);
}

/* footer */
.footer-top {
  background-color: var(--blue);
  color: var(--white);
}
.footer-logo {
  padding: 20px 41px;
  background: var(--red);
  box-shadow: inset 0px -5px 0px var(--logo-shadow);
}
.footer-contacts .tel {
  color: var(--white);
}
.footer-nav-global a {
  color: var(--white);
}
.footer-nav-catalog a {
  color: var(--gold);
}
.footer-nav-item a:hover {
  text-decoration: underline;
}
.footer-nav-item a:focus {
  text-decoration: none;
  opacity: 0.5;
}
.footer-bottom {
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
}
.social a {
  color: var(--white);
}
.footer-links a {
  color: var(--gold);
}

/* Каталог */
/* Хлебные крошки */
.bread-crumbs {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
/*Страница*/
.catalog-heading {
  background-color: var(--sky);
}
/*Фильтр*/
.filter {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
}
.filter-heading {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--beige);
}
.filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}
.filter-price input {
  background-color: var(--beige);
  font-size: 17px;
  line-height: 18px;
}
.filter .button {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  color: var(--black);
}

/* Сортировка */
.sort {
  background-color: var(--beige);
}
.sort-heading {
font-family: "PT Sans", "Tahoma", sans-serif;
font-size: 13px;
line-height: 18px;
font-weight: 400;
text-transform: uppercase;
}
.sort label {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--transparent-black);
  border-bottom: 1px dotted var(--red);
}
.sort label:hover {
  color: var(--black);
  border-bottom: 1px solid var(--red);
}
.sort input:checked + label {
  color: var(--red);
  border: none;
}

/* Пагинация */
.pagination-item a {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  border: 1px solid var(--light-gray);
  border-radius: 2px;
  padding: 10px 15px;
}
.pagination-item a:hover {
  border-color: var(--gray);
}
.pagination-item a:focus {
  border-color: var(--red);
}
.pagination-item-current a {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}
.pagination-item-current a:hover {
  border-color: var(--red);
}

/* Пара слов о перфораторах*/
.description {
  background-color: var(--sky);
}
.description .heading {
  color: var(--black);
}

/* Сетка главной */
.header-top .container {
  display: flex;
  align-items: center;
}
.header-column {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 20px;
}
.header-about {
  padding-left: 30px;
}
.header-contacts {
  text-align: center;
}
.account {
  justify-self: end;
}
.main-nav-list {
  display: flex;
  flex-wrap: wrap;
}
.main-nav-item {
  flex-grow: 1;
  min-width: 80px;
}
.main-nav-link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
.goods-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}
.goods-item-slider {
  grid-area: 2/1/4/3;
}
.slider {
  margin: 0;
}
.hits-list,
.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.hits,
.brands,
.services,
.main-column {
  margin-bottom: 70px;
}
.hits-header,
.brands-header {
  margin-bottom: 20px;
}
.product {
  min-height: 318px;
}
.services .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.services-heading,
.services-text {
  grid-column: 1 / 3;
}
.service-switch {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.main-column {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.main-column .heading {
  margin: 0;
}
.map {
  margin-bottom: 25px;
}

.footer-top .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-logo {
  margin-bottom: 27px;
}
.footer-bottom .container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.footer-nav,
.footer-links {
  justify-self: end;
}
.footer-nav {
  margin-top: 20px;
}
.footer-nav-global,
.footer-nav-catalog {
  display: flex;
  justify-content: flex-end;
}
.footer-nav-item a {
  padding: 17px 29px;
}
.footer-nav-item:last-child a {
  padding-right: 0;
}
.social-list {
  display: flex;
}
.links-list {
  display: flex;
  justify-content: flex-end;
}
.links-item {
  width: min-content;
  margin-left: 50px;
}
/* Сетка каталога */
.page-catalog {
  display: grid;
}
.bread-crumbs {
  padding: 20px 0;
  display: flex;
}
.bread-crumbs-item {
  margin-right: 40px;
}
.catalog-heading {
  padding: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.catalog-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  column-gap: 20px;
}
.filter {
  grid-row: 1 / 3;
}
.filter form {
  display: flex;
  flex-direction: column;
}
.filter-heading {
  padding: 10px 20px;
  margin: 0;
}
.filter-brand,
.filter-power {
  display: flex;
  flex-direction: column;
}
.sort {
  display: flex;
  align-items: center;
}
.sort-heading {
  margin: 10px 20px 10px 40px;
}
.sort input {
  display: none;
}
.sort form {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 18px;
}
.pagination {
  display: flex;
}
.pagination-item {
  margin-top: 50px;
  margin-bottom: 60px;
  margin-right: 10px;
}
.description .heading {
  margin-top: 64px;
  margin-bottom: 25px;
}
.description .text {
  margin-bottom: 67px;
}
